#content{
    max-width: 1600px;
    margin:  2% auto;
    align-content: center;
}
#my_name img{
    width: 40%;
    margin-top: -5% ;
    margin-bottom: -5%;
    margin-left:  5%;
}

#my_name{
    background-color: rgb(50, 117, 168);
    align-items: center;
    display: flex;
    width: 450px;
    height: 200px;
}
#my_name p{
    margin-left: 5%;
    font-size: 150%;
    text-align: center;
    color: white;
}

#information{
    background-color: rgb(50, 117, 168);
    text-align: center;
    color: white;
    width: 450px;
    height: 80px;
    padding: 5px;

}
