:root {
	--back: hsla(0, 0%, 0%, 1);
  --back2: hsla(0, 0%, 20%, 1);
  --foredark: hsla(0,0%,10%,1);
	--forelight: hsla(0,0%,100%,1);
	--border: hsl(0,0%,20%);
	--borderlight: hsl(0,0%,85.1%);
	--shadow: hsl(0,0%,50%);
	--zebra: hsl(0, 0%, 93%, 1);
    --hsecond: hsl(0, 0%, 100%,1);
}
thead th{color: var(--hsecond);}

thead th:nth-child(1) {background: var(--back); }
tbody tr td:nth-child(1){font-weight: 700;}

tbody tr:nth-child(1) td:nth-child(2){
    color: rgba(99,89,148, 0.9);}
tbody tr:nth-child(1) td:nth-child(3){
    color: rgba(99,89,148, 0.9);}
tbody tr:nth-child(1) td:nth-child(4){
    color: rgba(99,89,148, 0.9);}
tbody tr:nth-child(2) td:nth-child(3){
    color: rgba(99,89,148, 0.9);}
tbody tr:nth-child(2) td:nth-child(4){
    color: rgba(99,89,148, 0.9);}
tbody tr:nth-child(3) td:nth-child(4){
        color: rgba(99,89,148, 0.9);}

tbody tr:nth-child(2) td:nth-child(2){color: red}
tbody tr:nth-child(3) td:nth-child(2){color: red}
tbody tr:nth-child(3) td:nth-child(3){color: red}


table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 5px var(--shadow);
	border-collapse: collapse;
    font-family: 'Open Sans';
}

caption {
  padding: 10px;
  caption-side: bottom;
	color: var(--back);
	font-size: .85rem;
}

tr:first-child th, .highlight {
	background-color: var(--back);
	color: var(--forelight);
}

th, td {
	padding: 7px 15px;

}
tbody th, tbody td{
	border: 0.2px solid var(--borderlight);
}

th {
	background-color: var(--back2);
	font-size: larger;
}

td {
	text-align: center;
}
tbody tr:nth-child(even) {
	background-color: var(--zebra);
}
