@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Kiwi+Maru&family=Open+Sans&display=swap');
#content{font-family: 'Cinzel', Tahoma, Verdana; }
 
    /*   HEADER  START */
header { 
    background-color: #A52A2A ;
    color: white;
    grid-template-columns: 150px auto;
    text-align: center;
    }
    .date_mod1{ 
        grid-column: 1/3;
        display: block;
        font-size: 0.8rem;
         }  

    header img {width: 6rem; padding: 2px;}
 

.navigation_page li {
    display: block; 
    flex: 1 1 auto;}

.navigation_page a {
    color: white;
    text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem)}

.navigation_page li:first-child {display: none;}

    /* HEADER END */



    footer {   
        background-color: brown;
        color: white;
        text-align: center;
        margin-top: 5%;
        display: block;
        font-size: 0.8rem;
    }

    footer img{ width:  4rem;}
    footer a{text-decoration: none; color: white;}

/*   ***********************  START SLIDESSHOW GALLERY  **************************        */
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
    
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/*   ***********************  END SLIDESSHOW GALLERY  **************************        */


.welcome {background-color: rgba(165,42,42,1); 
    display: flex;
    align-items: center;
    justify-content: center; }
               
.welc_1{position: relative;  }
.welc_1 img { width: 95%; border-radius: 23px; 
    display: block;
    margin-left: auto;
    margin-right: auto;}
.welc_1 h2 { position: absolute; color: white; background-color: rgba(165,42,42,1);
        top: 2%; border-radius: 15px;
        left: 6%; padding: 5px; font-size: 1.2rem;}
.welc_butt { position: absolute;  bottom: 2%; right: 6%; border-radius: 20px;
     background-color: rgba(165,42,42,0.9); color: white; font-size: 150%;
    border: solid rgba(165,42,42,0.9); font-size: 1.2rem; text-decoration:underline;
    transition: 0.5s;}

.welc_butt:hover{ background-color:#F4B237; color: #A52A2A;
         font-size: 1.3rem;  }    

.food_menu {display: grid; grid-template-columns: 1fr 1fr ;
             background-color: rgba(165,42,42,1); place-items: center ;
            color: white;}
        .food_menu a{ color: white;}
        .food_menu img{ width: 80%;   padding: 3%;}
        .food_menu p{ padding: 3%; width: 95%; font-size: 150%;}

.trad_food { display: block; background-color: rgba(165,42,42,1); color: white; text-align: center;}
.trad_food img {width: 80%; padding: 10px; margin-bottom: 3%;}

.about_us { display: block; background-color: rgba(165,42,42,1); color: white; text-align: center;}
.about_us img {width: 30%; padding: 10px;}

/*display banner on Mondays o Tuesday*/
#banner1, #banner2{ 
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255,232,199,1);
     padding: 6px; font-size: 0.9rem;}
#banner1, #banner2 p{ color: rgb(32,46,68);}
#banner1 button, #banner2  button{ border: none; background-color:rgba(255,232,199,1); font-size: 130%; }
#banner1, #banner2 a {color:rgb(32,46,68); font-size: 100%; }



/*  Wind Chill Styling*/
.wind_chill{ color: white; background-color:rgba(165,42,42,1) ; padding: 10px; 
        width: 50%; margin: 0 25%; border-radius: 15px;}
.wind_chill button{text-decoration: underline; border-radius: 5px; border: none; transition: 0.6s;}
.wind_chill button:hover { background-color:#F4B237; color: #A52A2A; transition: 0.6s; font-size: 108%;}
 



/****//*****/

/*LARGE SIZE*/  @media (min-width: 60.1em){
    #content{  max-width: 1600px; margin: 0 auto;}
        header {display: grid; align-items: center;}
        .navigation_page{ display: flex;}
        .name_logo {display: none; color: white;}
        #logo_taita img {padding-top: 10%; }

    footer { display: grid; grid-template-columns: 1fr 1fr 1fr; padding: 2%; align-items: center; }
    footer a {text-decoration: none; color: white;}
    .date_mod2{ grid-column: 1/4; align-items: center;}

    .principal_grid{display: grid; 
                    grid-template-columns: 1fr 2fr 1fr;
                    /*grid-template-rows: auto auto auto;*/
                    grid-gap: 5px;}
    /*.principal_grid div {border: solid 5px rgb(230,230,230);}*/
    .food_menu{grid-column: 1/2; grid-row: 1/2;}
    .trad_food{grid-column: 1/2; grid-row: 2/3;}
    .about_us{grid-column: 1/2; grid-row: 3/4;}
    .welcome{grid-column: 2/3; grid-row: 1/3; }
    
            
    .img_transitions{grid-column: 2/3; grid-row: 3/4;}
    .promo_deli{grid-column: 3/4; grid-row: 1/4  ; }
        .promo_deli  {    
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba(165,42,42,1);
             color: white;  }
        .promo_deli img  {width: 80%;}
    .icon{ width: 40px; border-radius: 8px;}

    .slideshow-container {width: 45rem; position: relative; margin: auto; }
    #banner1, #banner2{margin: 0   25% ; width: 50%;}

    }/* End of Large Size*/


/****//*****/


/*MEDIUM SIZE*/  @media (max-width: 60em){
    header{
       /* background-color: green;*/
        display: block;  }     
    header #logo_taita { color: white; font-size: 0.9rem; margin-left: 2%;}
    .name_logo{ color: white; font-size: 120%; margin-left: 2%; }
    #logo_taita {display: flex; align-items: center;}

    #logo_taita img {width: 5rem; padding: 0.4rem; }
   
    nav {margin: 0 auto; width: 100%; }
    .navigation_page {list-style: none; margin: 0; padding: 0; }
    .navigation_page li:first-child { display: block;  }
    .navigation_page li { display: none; }
    .navigation_page a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: white;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem); }

    #menu::before {content: "≡"; font-size: 2rem; }
    .navigation_page a:hover, .navigation_page a:active {
            color: #F28E02; background-color: #532605;    }
    .responsive li { display: block; }    
    .responsive #menu::before {  content: "x";  }

    footer{display:block; text-align: center;}
    footer img {width: 6rem; float: left; margin-right: 2%; }

    .principal_grid{display: grid; 
        grid-template-columns:  2fr 1fr;
        /*grid-template-rows: 100px 100px 100px 100px 100px;*/
        grid-gap: 5px;}
    /*.principal_grid div {border: solid 5px rgb(230,230,230);}*/
        .welcome{grid-column: 1/3; grid-row: 1/2;}
            .welc_1{padding: 10px;} 

        .food_menu{grid-column: 1/2; grid-row: 2/3;}
        .trad_food{grid-column: 2/3; grid-row: 2/3;}

        .img_transitions{grid-column: 1/3; grid-row: 3/4;}
        .promo_deli{grid-column: 1/3; grid-row: 4/5 ; }
        .promo_deli  {    
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            background-color: rgba(165,42,42,1);
             color: white; font-size: 95%; }
        .promo_deli img  {width: 30%; margin: 2%; }
        .promo_deli p  { margin: auto;}

        .about_us{grid-column: 1/3; grid-row: 5/6;}
        .about_us img{ width:  18%;} 

        .icon{ width: 35px; border-radius: 8px;}

        .slideshow-container {width: 100%; position: relative; margin: auto; }
        #banner1, #banner2{margin: 0 ; width: 100%;}

    }/*End of Medium Size*/

/****//*****/


/*SMALL SIZE*/@media (max-width: 34.5em){
     /*   header{background-color: yellow;}*/

        
    .principal_grid{display: grid; 
        grid-template-columns: 1fr ;
        /*grid-template-rows: 100px 100px 100px 100px 100px 100px;*/
        grid-gap: 5px;}
    /*.principal_grid div {border: solid 5px rgb(230,230,230);}*/
        .welcome{grid-column: 1/2; grid-row: 1/2;}
        .welc_1 h2 {font-size: 92%;}
        .welc_butt {font-size: 88%;}
        .img_transitions{grid-column: 1/2; grid-row: 2/3;}
        .food_menu{grid-column: 1/2; grid-row: 3/4;}
        .trad_food{grid-column: 1/2; grid-row: 4/5;}
        .trad_food img{width: 65%; padding-bottom: 2%;}

        .promo_deli{grid-column: 1/2; grid-row: 5/6; display: flex; flex-direction: column;}
             .promo_deli img  {width: 45%; margin: 1%; padding-bottom: 1%; }
             .promo_deli p{font-size: 125%;padding-top: 2%;}
        .about_us{grid-column: 1/2; grid-row: 6/7;}
        .slideshow-container {width: 100%; position: relative; margin: auto; }
    }/*End of Small Size*/